/* App.css */
body {
  background-color: #fff;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
}

.glow {
  font-size: 2rem; 
  transition: ease-in 1.3s;
  animation: glow-animation 1.3s infinite alternate;
  background: linear-gradient(65deg, rgba(47, 33, 241, 0.7), rgba(255, 115, 0, 0.7), rgba(0, 0, 255, 0.7), rgba(255, 255, 0, 0.7));
  background-size: 400% 400%;
  padding: 1px; 
}

@keyframes glow-animation {
  0% {
    filter: brightness(2);
    box-shadow:  
    4px 27px 34px 13px red,
    4px 32px 34px 13px blue,
    7px 24px 34px 13px  purple; 
  }
 
  100% {
    filter: brightness(0.1);
    box-shadow:  
    5px 8px 38px 8px red, 
    5px 8px 58px 8px green, 
    5px 8px 58px 8px pink, 
  }
}